.button {
    width: 300px;
    height: 45px;
    background-color: #ffffff;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    font-weight: bold;
    border: none;
}
span {
    background: linear-gradient(270deg, #3548F5 -4.17%, #F58747 110.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    // text-fill-color: transparent;
}