.table_content{
    overflow-x:auto ;
    width: 100%;
    max-width: 1090px;
}
.center{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.margin{
    margin-bottom: 16px;
    // height: 16px;
}