.row {
    /*padding:0;*/
    /*background-color: #FFF;*/
    /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
    height: 94vh;
    overflow: hidden;
    /*position: fixed;*/
    top: 2vh;


    width: 1090px;
    background: #FDFDFF;
    opacity: 0.99;
    box-shadow: 0 0 16px rgba(44, 44, 44, 0.15);
    border-radius: 35px;
    position: relative;
}

/* ===== MENU ===== */
.menu {
    float: left;
    height: 700px;;
    width: 70px;
    background: #4768b5;
    background: -webkit-linear-gradient(#4768b5, #35488e);
    background: -o-linear-gradient(#4768b5, #35488e);
    background: -moz-linear-gradient(#4768b5, #35488e);
    background: linear-gradient(#4768b5, #35488e);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}

.menu .items {
    list-style:none;
    margin: auto;
    padding: 0;
}

.menu .items .item {
    height: 70px;
    border-bottom: 1px solid #6780cc;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #9fb5ef;
    font-size: 17pt;
}

.menu .items .item-active {
    background-color:#5172c3;
    color: #FFF;
}

.menu .items .item:hover {
    cursor: pointer;
    background-color: #4f6ebd;
    color: #cfe5ff;
}

/* === CONVERSATIONS === */

.discussions {
    height: 100%;
    /*box-shadow: 0px 8px 10px rgba(0,0,0,0.20);*/
    overflow: hidden;
    /*background-color: #87a3ec;*/
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.users {
    width: 40%;
    padding: 30px 32px 0 20px;
    background: #FFFFFF;
    box-shadow: 0 0 16px rgb(44 44 44 / 15%);
}
.discussion {
    background: linear-gradient(270deg, #E4E6FF -4.17%, #FFECE4 110.83%);
    border-radius: 60px;
    padding: 0 19px 0 20px;
}

.search, .discussion {
    display:flex;
    align-items: center;
    justify-content: space-between;
    color: #E0E0E0;

    width: 360px;
    height: 80px;
    /*background-color: #FAFAFA;*/
    /*border-bottom: solid 1px #E0E0E0;*/
    display:flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.discussions .search .searchbar {
    height: 35px;
    background-color: #e3effd;
    width: 82%;
    padding: 0 20px;
    border-radius: 50px;
    border: 1px solid #e3effd;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.discussions .search .searchbar input {
    margin-left: 15px;
    height: 32px;
    background: #e3effd;
    width: 100%;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.discussions .search .searchbar *::-webkit-input-placeholder {
    color: #E0E0E0;
}
.discussions .search .searchbar input *:-moz-placeholder {
    color: #E0E0E0;
}
.discussions .search .searchbar input *::-moz-placeholder {
    color: #E0E0E0;
}
.discussions .search .searchbar input *:-ms-input-placeholder {
    color: #E0E0E0;
}

.discussions .message-active {
    /*background-color: #FFF;*/
    border-bottom: solid 1px #E0E0E0;
    background: linear-gradient(270deg, rgba(53, 72, 245, 0.5) -4.17%, rgba(245, 135, 71, 0.5) 110.83%);
    border-radius: 60px;
}
.sent_message {
    position: absolute;
    top: 10px;
    right: 75px;
}
.discussions .discussion .photo {
    margin-left:20px;
    display: block;
    width: 45px;
    height: 45px;
    background: #E6E7ED;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.online {
    position: relative;
    top: 30px;
    left: 35px;
    width: 13px;
    height: 13px;
    background-color: #8BC34A;
    border-radius: 13px;
    border: 3px solid #FAFAFA;
}

.desc-contact {
    /*height: 43px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row .name {
    margin: 0 0 7px 0;
    /*font-family:'Montserrat', sans-serif;*/
    /*font-size: 11pt;*/
    /*color:#515151;*/

    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    /* для текста */

    color: #2C2C2C;
}

.discussions .discussion .message {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #2C2C2C;
}

.timer {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #2C2C2C;
}
.count_message {
    background: #3548F5;
    border-radius: 25px;
    padding: 4px 0;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.time_count_cont {
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: start;
}
.chat {
    width: 65%;
    padding: 30px;
}

.header-chat {
    background-color: #FFF;
    height: 70px;
    /*box-shadow: 0px 3px 2px rgba(0,0,0,0.100);*/
    border-bottom: 1px solid #dcd6d6;
    /*display:flex;*/
    align-items: center;
}

.chat .header-chat .icon {
    margin-left: 30px;
    color:#515151;
    font-size: 14pt;
}

/*.chat .header-chat .name {*/
/*    margin: 0 0 0 20px;*/
/*    text-transform: uppercase;*/
/*    font-family:'Montserrat', sans-serif;*/
/*    font-size: 13pt;*/
/*    color:#515151;*/
/*}*/

.chat .header-chat .right {
    position: absolute;
    right: 40px;
}

.chat .messages-chat {
    padding: 25px 35px;
    overflow: auto;
    height: 69.5%;
}

.chat .messages-chat .message {
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.chat .messages-chat .message .photo {
    display: block;
    width: 45px;
    height: 45px;
    background: #E6E7ED;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.chat .messages-chat .text {
    padding: 12px 131px 12px 20px;
    background: #FFFFFF;
    border: 2px solid #F58747;
    border-radius: 80px;
    width: fit-content;
}
.message_cont {
    position: relative;
    width: fit-content;
}
/*.text-only {*/
/*    margin-left: 45px;*/
/*}*/

.time {
    font-size: 10px;
    color:lightgrey;
    margin-bottom:10px;
    margin-left: 85px;
    position: absolute;
    top: 20px;
    right: 17px;
}

.response-time {
    float: right;
    margin-right: 40px !important;
}

.response {
    float: right;
    margin-right: 0 !important;
    margin-left:auto; /* flexbox alignment rule */
}

.response .text {
    /*background-color: #e3effd !important;*/
    border: 2px solid #3548F5 !important;
    border-radius: 25px;
}
.row {
    display: flex;
    position: relative;
    /*height: 100%;*/
}

.footer-chat {
    width: 56%;
    height: 80px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 30px;
    background: #FDFDFF;
    box-shadow: 0 0 16px rgb(0 0 0 / 15%);
    border-radius: 60px;
    justify-content: space-between;
}
.last_active {
    background: linear-gradient(270deg, #E4E6FF -4.17%, #FFECE4 110.83%);
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    width: fit-content;
    margin: auto;
}
.last_active_cont {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 20px;
}
.chat .footer-chat .icon {
    margin-left: 30px;
    color:#C0C0C0;
    font-size: 14pt;
}

.chat .footer-chat .send {
    color: #6d94c4;
    /* background-color: #4f6ebd; */
    position: absolute;
    right: 15px;
    padding: 12px 12px 12px 12px;
    border-radius: 50px;
    font-size: 25pt;
}

.chat .footer-chat .name {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    font-size: 13pt;
    color:#515151;
}

.chat .footer-chat .right {
    position: absolute;
    right: 40px;
}

.write-message {
    width: 83%;
    height: 25px;
    margin-left: 20px;
    /*padding: 10px 20px;*/
    outline: none;
    border: none;
}

.footer-chat *::-webkit-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
}
.footer-chat input *:-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
}
.footer-chat input *::-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
    margin-left:5px;
}
.footer-chat input *:-ms-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
}

.clickable {
    cursor: pointer;
}

.active_time {

}