.link_cont {
    margin-bottom: 43px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.link {
    color: #4254EC;
    font-weight: bold;
    font-size: 20px;
    margin-right: 40px;
}

.cont {
    // display: flex;
    flex-basis: 1090px;
    box-shadow: 0px 0px 16px rgba(44, 44, 44, 0.15);
    border-radius: 35px;
    padding: 20px 8px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-bottom: solid 1px #4254EC;

    .first_p {
        text-align: center;
        flex: 50px;
    }

    p {
        flex: 208px 1;
    }
}

.info {
    box-shadow: 0px 0px 16px rgba(44, 44, 44, 0.15);
    border-radius: 35px;
    flex-basis: 1000px;
    position: relative;
    align-items: center;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}
.status{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    .input{
        width: 25px;
        height: 25px;
    }
}