@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: "Roboto";
    -moz-box-sizing: border-box;
    /* Для Firefox */
    box-sizing: border-box;
    font-size: 18px;
}

.form_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    color: #000000;
}
.grey_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #C4C4C4;
}
//Меняет скролл
::-webkit-scrollbar {
    width: 1.5px;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
}

//Выключает фокус на бордерах при нажатии
:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}