.img_input_label {
  width: 600px;
  height: 200px;

  background: #FFFFFF;
  border-radius: 25px;
}
.img_icon {
  position: absolute;
  top: 45%;
  width: 27px;
}
.checkbox_cont {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}