.cont{

    .link_cont{
        margin-top: 15px;
    }
    .link{
        color: #4254EC;
        font-weight: bold;
        font-size: 20px;
        margin-right: 40px;
    }
    .active{
        border-bottom: 1px solid black;
    }
}