.table_title {
    display: flex;
    max-width: 100%;
    // padding: 10px 0 0 0px;
    height: 50px;
    // border-bottom: solid 1px #4254EC;
    color: black;

    // border-top:solid 0.5px #4254EC;
    input {
        border: none;
        // opacity: 50%;
    }

    .first_p {
        text-align: center;
        flex: 50px;
        padding-top: 14px;
        min-width: 50px;
        max-width: 50px;
        border-bottom: solid 0.1px #4254EC;
        border-top: solid 0.1px #4254EC;
        // padding: 16px;
    }

    .three_hundred_fifty {
        padding: 0px 0 0 10px;
        flex: 350px;
        min-width: 350px;
        // max-width: 350px;
        border-top: solid 0.2px #4254EC;
        border-bottom: solid 0.2px #4254EC;
        border-left: solid 0.5px #4254EC;
        position: relative;
        align-items: center;
        display: flex;
    }

    .hundred_fifty {
        padding: 0px 0 0 10px;
        flex: 150px;
        min-width: 150px;
        // max-width: 350px;
        border-left: solid 0.5px #4254EC;
        border-bottom: solid 0.2px #4254EC;
        border-top: solid 0.2px #4254EC;
        position: relative;
        align-items: center;
        display: flex;

    }

    .two_hundred_fifty {
        padding: 0px 0 0 10px;
        flex: 250px;
        min-width: 250px;
        border-top: solid 0.2px #4254EC;
        border-bottom: solid 0.2px #4254EC;
        border-left: solid 0.5px #4254EC;
        position: relative;
    }

    .two_hundred_fifty_double {
        flex: 250px;
        min-width: 250px;
        border-top: solid 0.2px #4254EC;
        border-bottom: solid 0.2px #4254EC;
        border-left: solid 0.5px #4254EC;

        .fifty {
            height: 50px;
            padding: 14px 0 0 10px;
            border-top: solid 1px #4254EC;
        }

        .fifty_first {
            height: 50px;
            padding: 14px 0 0 10px;
        }
    }

    .five_hundred {
        // padding:10px 0 0 10px;
        flex: 500px;
        min-width: 500px;
        border-bottom: solid 0.2px #4254EC;
        border-top: solid 0.1px #4254EC;
        border-left: solid 0.5px #4254EC;

        // z-index: 1;
        .top {
            height: 50px;
            align-items: center;
            display: flex;
            padding-left: 10px;

        }

        .under {
            display: flex;
            flex-direction: row;
            height: 45px;
            position: relative;

            .under_first {
                min-width: 250px;
                padding-left: 10px;
                align-items: center;
                // display: flex;
                border-right: solid 1px #4254EC;
            }

            .under_second {
                padding-left: 10px;
                min-width: 250px;
                align-items: center;
                // display: flex;
                position: relative;
            }
        }
    }
}