.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    .header{
        max-width: 1000px;
        width: 90%;
        margin: 0 auto;
    }
    .button {
        text-align: right;
    }

    .footer {
        margin-bottom: 120px;
        p {
            font-weight: bold;
            font-size: 26px;
            text-align: center;
        }
    }
}