.title {
    display: flex;
    // justify-content: center;
    align-items: center;
    height: 50px;
    border-bottom: solid 1px #4254EC;
    color: black;
    .first_p {
        text-align: center;
        flex: 50px;
        min-width: 50px;
        max-width: 50px;
        padding: 16px 16px 16px 5px;
    }

    p {
        max-width: 400px;
        flex: 400px;
        padding:0 0 0 10px;
    }

    .last_p {
        max-width: 100%;
        overflow: auto;
    }

}

.clicked {
    background-color: #F3F3FF;
}
.top_blank{
    align-items: center;
    text-align: center;
    margin-bottom: 70px;
    .blank_title {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .p_medium {
        font-weight: 500;
        margin-bottom: 20px;
    }
    .applied_number{
        margin-bottom: 70px;
    }
}
.content_table{
    max-width: 1090px;
    // width: 100%;
    position: relative;
    padding-top: 50px;
}
// ::-webkit-scrollbar {
//     width: 1.5px;
// }

// ::-webkit-scrollbar-thumb {
//     background-color: gray;
// }
.table_content{
    
    max-width: 1090px;
    overflow-x:auto;
    // max-width: 100%;
    font-weight: 500;
}
.table_title{
    display: flex;
    max-width: 100%;
    // padding: 10px 0 0 0px;
    height: 100px;
    // border-bottom: solid 1px #4254EC;
    color: black;
    // border-top:solid 0.5px #4254EC;
    
    .first_p{
        text-align: center;
        flex: 50px;
        padding-top: 10px;
        min-width: 50px;
        max-width: 50px;
    border-top:solid 0.5px #4254EC;
    // padding: 16px;
    }
    .three_hundred_fifty{
        padding:10px 0 0 10px;
        flex: 350px;
        min-width: 350px;
        // max-width: 350px;
        border-left: solid 0.5px #4254EC;
        border-top:solid 0.5px #4254EC;
    }
    .hundred_fifty{
        padding:10px 0 0 10px;
        flex: 150px;
        min-width: 150px;
        // max-width: 350px;
        border-left: solid 0.5px #4254EC;
    border-top:solid 0.5px #4254EC;

    }
    .two_hundred_fifty{
        padding:10px 0 0 10px;
        flex: 250px;
        min-width: 250px;
    border-top:solid 0.5px #4254EC;
    border-left: solid 0.5px #4254EC;
    }
    .two_hundred_fifty_double{
        flex: 250px;
        min-width: 250px;
    border-top:solid 0.5px #4254EC;
    border-left: solid 0.5px #4254EC;
        .fifty{
            height: 50px;
            padding: 14px 0 0 10px;
            border-top: solid 1px #4254EC;
        }
        .fifty_first{
            height: 50px;
            padding: 14px 0 0 10px;
        }
    }
    .five_hundred{
        // padding:10px 0 0 10px;
        flex: 500px;
        min-width: 500px;
    border-top:solid 0.5px #4254EC;
    border-left: solid 0.5px #4254EC;
        .top{
            height: 50px;
            align-items: center;
            display: flex;
            padding-left: 10px;

        }
        .under{
            display: flex;
            flex-direction: row;
            height: 50px;
            border-top:solid 1px #4254EC ;
            .under_first{
                min-width: 250px;
                padding-left: 10px;
                align-items: center;
                display: flex;
                border-right:solid 1px #4254EC ;
            }
            .under_second{
                padding-left: 10px;
                min-width: 250px;
                align-items: center;
                display: flex;
            }
        }
    }
}

.footer{
   align-items: center;
   text-align: center;
   margin-top: 42px;
   .accept{
    font-weight: bold;
    margin-bottom: 30px;
   }
}
.second_footer{
    align-items: center;
    text-align: center;
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    .accept{
    //  font-weight: bold;
     margin-bottom: 30px;
    }
}