.cont{
   text-align: center;
   align-items: center; 
   display: flex;
   justify-content: center;
   flex-direction: column;
   padding-top: 50px;
}
.referal{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}
