.title{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
}
.table_content{
    overflow-x:auto ;
    width: 100%;
    font-weight: 500;
    max-width: 1090px;
    position: relative;
    height: 500px;
}
.content{
    box-shadow: 0 0 16px rgba(44, 44, 44, 0.15);
    border-radius: 35px;
    min-height: 815px;
    padding: 50px 0;
}
.for_scroll{
    margin-bottom: 16px;
}
.center{
    align-items: center;
    text-align: center;
}
.cont_radio__{
    position: absolute;
    align-items: center;
    text-align: center;
    // display: flex;
    justify-content: center;
    // overflow-y: scroll;
    top: 50px;
    left:0px;
    .radio__{
        margin-bottom: 10px;
    }
    p{
        width: 350px;
        height: 45px;
        border-radius: 25px;
        background-color: #F3F3FF;
        padding-left: 20px;
        align-items: center;
        display: flex;
        text-align: left;
        justify-content: left;
        border: 1px solid #3548F5;
        margin-bottom: 10px;
        // z-index: 2;
    }
    .radio_input__{
        display: none;
        z-index: 3;
    }
}
.list_img__{
    position: absolute;
    right: 20px;
    top: 20px;
}
.event_name{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.event_date{
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}